.idea/
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*
*~
*.sw[mnpcod]
*.log
*.tmp
log.txt
$RECYCLE.BIN/
tsconfig.tmp.json
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.sass-cache/
.tmp/
*.tmp.*
config/coverage
coverage/*
dist/
tmp/
temp/
doc/
bower_components/
platforms/
plugins/
typings/
www/
.tmp/
node_modules/
yarn-error.log
