<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <a class="navbar-brand" [routerLink]="['/books']">Libretto Store</a>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/books']">
            <i class="fa fa-fw fa-book" aria-hidden="true"></i>
            <span>Books</span>
          </a>
        </li>
        <li *ngIf="userConstants.loggedIn" [routerLinkActive]="['active']">
          <a [routerLink]="['/transactions']">
            <i class="fa fa-fw fa-shopping-cart" aria-hidden="true"></i>
            <span>Transactions</span>
          </a>
        </li>
      </ul>
      <ul *ngIf="!userConstants.loggedIn" class="nav navbar-nav navbar-right">
        <li>
          <a (click)="loginModal.open()">
            <i class="fa fa-fw fa-key" aria-hidden="true"></i>
            <span>Login</span>
          </a>
        </li>
        <li>
          <a (click)="registerModal.open()">
            <i class="fa fa-fw fa-user-plus" aria-hidden="true"></i>
            <span>Register</span>
          </a>
        </li>
      </ul>
      <ul *ngIf="userConstants.loggedIn" class="nav navbar-nav navbar-right">
        <li>
          <a>
            <i class="fa fa-fw fa-user" aria-hidden="true"></i>
            <span>Welcome, {{userConstants.getUser().fullName}}</span>
          </a>
        </li>
        <li>
          <a (click)="userConstants.logout();">
            <i class="fa fa-fw fa-sign-out" aria-hidden="true"></i>
            <span>Logout</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<modal #loginModal [keyboard]="false" [backdrop]="'static'">
  <modal-header [show-close]="true">
    <h4 class="modal-title">Authentication</h4>
  </modal-header>
  <form class="form-horizontal" #loginForm="ngForm" (ngSubmit)="doLogin()">
    <modal-body>
      <div class="form-group">
        <label for="email" class="cols-sm-2 control-label">Your Email</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-envelope fa" aria-hidden="true"></i>
            </span>
            <input [(ngModel)]="loginData.Email" required email name="email" id="email" type="text" class="form-control" placeholder="Please enter your e-mail address">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="cols-sm-2 control-label">Password</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
            </span>
            <input [(ngModel)]="loginData.Password" required name="password" id="password" type="password" class="form-control" placeholder="Please enter your password">
          </div>
        </div>
      </div>
    </modal-body>
    <modal-footer [show-default-buttons]="false">
      <input type="submit" class="btn btn-primary btn-block" type="submit" [disabled]="!loginForm.valid">
    </modal-footer>
  </form>
</modal>
<modal #registerModal [keyboard]="false" [backdrop]="'static'">
  <modal-header [show-close]="true">
    <h4 class="modal-title">Register Account</h4>
  </modal-header>
  <form class="form-horizontal" #registerForm="ngForm" (ngSubmit)="doRegister()">
    <modal-body>
      <div class="form-group">
        <label for="name" class="cols-sm-2 control-label">Name</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-user fa" aria-hidden="true"></i>
            </span>
            <input [(ngModel)]="registerData.Name" type="text" class="form-control" name="name" id="name" required placeholder="Please enter your full name">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="cols-sm-2 control-label">E-mail</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon">
          <i class="fa fa-envelope fa" aria-hidden="true"></i>
        </span>
            <input [(ngModel)]="registerData.Email" type="text" class="form-control" name="email" id="email" required email placeholder="Please enter your e-mail address">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="location" class="cols-sm-2 control-label">Address</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon">
          <i class="fa fa-globe" aria-hidden="true"></i>
        </span>
            <input [(ngModel)]="registerData.Location" type="text" class="form-control" name="location" id="location" required placeholder="Please enter your shipping address">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="cols-sm-2 control-label">Password</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon">
          <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
        </span>
            <input [(ngModel)]="registerData.Password" type="password" class="form-control" name="password" id="password" required validateEqual="confirm"
              reverse="true" placeholder="Please enter your password">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon">
          <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
        </span>
            <input [(ngModel)]="confirmPassword" type="password" class="form-control" name="confirm" id="confirm" required validateEqual="password"
              placeholder="Please confirm your password">
          </div>
        </div>
      </div>
    </modal-body>
    <modal-footer>
      <input type="submit" class="btn btn-primary btn-block" [disabled]="!registerForm.valid">
    </modal-footer>
  </form>
</modal>
