body {
  padding-top: 70px;
  font-family: 'Source Sans Pro', sans-serif;
}

.slide-image {
  width: 100%;
}

.carousel-holder {
  margin-bottom: 30px;
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42A948;
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
}

.login-container {
  width: 300px;
  position: relative;
  margin: 80px auto;
  background: #fff;
  text-align: center;
  border: 1px solid #ccc;
  padding: 20px 40px 40px;
}

#output {
  left: 0;
  top: -75px;
  width: 300px;
  color: #fff;
  position: absolute;
}

#output.alert-success {
  background: rgb(25, 204, 25);
}

#output.alert-danger {
  background: rgb(228, 105, 105);
}

.login-container::before,
.login-container::after {
  left: 0;
  top: 3.5px;
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  background: #fff;
  transform: rotateZ(4deg);
  border: 1px solid #ccc;
}

.login-container::after {
  top: 5px;
  z-index: -2;
  transform: rotateZ(-2deg);
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin: 10px auto 30px;
  background-size: cover;
}

.form-box input {
  width: 100%;
  height: 40px;
  padding: 10px;
  text-align: center;
  background: #fafafa;
  border: 1px solid #ccc;
  transition: 0.2s ease-in-out;
}

.form-box input:focus {
  outline: 0;
  background: #eee;
}

.form-box input[type="text"] {
  text-transform: lowercase;
  border-radius: 5px 5px 0 0;
}

.form-box input[type="password"] {
  border-top: 0;
  border-radius: 0 0 5px 5px;
}

.form-box button.login {
  margin-top: 15px;
  padding: 10px 20px;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

.carousel-control,
.item {
  border-radius: 4px;
}

.caption {
  height: 130px;
  overflow: hidden;
}

.caption h4 {
  white-space: nowrap;
}

.thumbnail img {
  width: 100%;
}

.ratings {
  color: #d17581;
  padding-left: 10px;
  padding-right: 10px;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
  color: #333;
}

footer {
  margin: 50px 0;
}
